asn1crypto==0.24.0
bottle==0.12.16
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
conda==4.5.11
cryptography==2.4.1
cycler==0.10.0
gevent==1.4.0
greenlet==0.4.15
HTMLParser==0.0.2
idna==2.7
kiwisolver==1.0.1
menuinst==1.4.14
mkl-fft==1.0.6
mkl-random==1.0.1
olefile==0.46
Pillow==5.3.0
psycopg2==2.7.6.1
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-constraint==1.4.0
python-dateutil==2.7.5
pywin32==223
ruamel-yaml==0.15.46
simplejson==3.16.0
six==1.11.0
win-inet-pton==1.0.1
wincertstore==0.2
